@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>License Management System</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to License Management System</h2>
        <p>
            License Management System is a ASP.NET CORE application made to allow businesses to manage licenses.
        </p>
    </div>
    <div class="col-md-3">
        <h2>View Customers</h2>
        <p><a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Customers">Customers &raquo;</a>
    </div>
    <div class="col-md-3">
        <h2>View Products</h2>
        <p><a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Customers">Products &raquo;</a>
    </div>
    <div class="col-md-3">
        <h2>View Reports</h2>
        <p><a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Customers">Reports &raquo;</a>
    </div>
    <div class="col-md-3">
        <h2>Change Settings</h2>
        <p><a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Customers">Settings &raquo;</a>
    </div>
</div>