@model IEnumerable<LicenseManagmentSystem.Models.ManagerViewModels.NumberOfLicenses>

@{
    ViewData["Title"] = "Stats";
}

<h2>License Keys per Product</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>License Keys</th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @item.LicenseCount
                </td>
            </tr>
        }

    </tbody>
</table>
